@{
    ViewBag.Title = "Mark Annandale Assignment 2 - Movie/Book Database";
}

<div class="jumbotron">
    <h1>Mark Annandale Assignment 2</h1>
    <p class="lead">This Web App contains a database of movie adaptations of books, and the books that they're adapted from.</p>
    <p><a href="https://github.com/Markannandale/Mark-Annandale-COMP-2084-Assignment-1" class="btn btn-primary btn-lg">View the Github files here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github</h2>
        <p>
            Check out my Github page for this assignment here.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Markannandale/Mark-Annandale-COMP-2084-Assignment-1">Mark Annandale Github &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Theme used</h2>
        <p>You can find the theme I used for this site, United, at bootswatch.com.</p>
        <p><a class="btn btn-default" href="https://bootswatch.com/3/united/bootstrap.css">Bootswatch United CSS &raquo;</a></p>
    </div>
</div>